In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("Iris.csv")

In [3]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
df.shape

(150, 6)

In [5]:
df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [6]:
df1=df.drop('PetalLengthCm',axis=1)

In [7]:
df1.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalWidthCm', 'Species'], dtype='object')

In [8]:
str_col=['Id','SepalLengthCm','SepalWidthCm','PetalWidthCm','Species']

In [9]:
from sklearn.preprocessing import LabelEncoder

In [10]:
labelencoder = LabelEncoder()

In [11]:
for i in str_col:
    df1[i]=labelencoder.fit_transform(df1[i])

In [12]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [13]:
df1.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalWidthCm     0
Species          0
dtype: int64

In [14]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    int64
 2   SepalWidthCm   150 non-null    int64
 3   PetalWidthCm   150 non-null    int64
 4   Species        150 non-null    int32
dtypes: int32(1), int64(4)
memory usage: 5.4 KB

In [15]:
Xtrain = df1.iloc[: ,0:4]

In [16]:
Xtrain

      Id  SepalLengthCm  SepalWidthCm  PetalWidthCm
0      0              8            14             1
1      1              6             9             1
2      2              4            11             1
3      3              3            10             1
4      4              7            15             1
..   ...            ...           ...           ...
145  145             24             9            19
146  146             20             4            15
147  147             22             9            16
148  148             19            13            19
149  149             16             9            14

[150 rows x 4 columns]

In [17]:
Ytrain = df1.iloc[: , 4]

In [18]:
Ytrain

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: Species, Length: 150, dtype: int32

In [19]:
Xtest = df1.iloc[ : ,0:4]

In [20]:
Xtest

      Id  SepalLengthCm  SepalWidthCm  PetalWidthCm
0      0              8            14             1
1      1              6             9             1
2      2              4            11             1
3      3              3            10             1
4      4              7            15             1
..   ...            ...           ...           ...
145  145             24             9            19
146  146             20             4            15
147  147             22             9            16
148  148             19            13            19
149  149             16             9            14

[150 rows x 4 columns]

In [21]:
Ytest = df1.iloc[ : ,4]
Ytest

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: Species, Length: 150, dtype: int32

In [22]:
from sklearn.naive_bayes import MultinomialNB as MB
from sklearn.naive_bayes import GaussianNB as GB

In [23]:
salary_MB = MB()

In [24]:
salary_MB.fit(Xtrain,Ytrain)

MultinomialNB()

In [25]:
y_pred = salary_MB.predict(Xtest)

In [26]:
from sklearn.metrics import accuracy_score, confusion_matrix

In [27]:
acc = accuracy_score(Ytest, y_pred) * 100
print("Accuracy =", acc)

Accuracy = 71.33333333333334

In [28]:
confusion_matrix(Ytest, y_pred)

array([[48,  1,  1],
       [ 0, 26, 24],
       [ 0, 17, 33]], dtype=int64)

In [29]:
from sklearn.metrics import classification_report

In [30]:
print(classification_report(Ytest,y_pred))

              precision    recall  f1-score   support

           0       1.00      0.96      0.98        50
           1       0.59      0.52      0.55        50
           2       0.57      0.66      0.61        50

    accuracy                           0.71       150
   macro avg       0.72      0.71      0.71       150
weighted avg       0.72      0.71      0.71       150